# --- Node 1 (z. B. XIAO nRF52840) ---
NODE1_ID=node1
NODE1_LABEL=XIAO Voltmeter
NODE1_TTN_APP_ID=batterie-voltmeter
NODE1_TTN_API_KEY=NNSXS.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# --- Node 2 (z. B. BaseNode328) ---
NODE2_ID=node2
NODE2_LABEL=BaseNode328
NODE2_TTN_APP_ID=batterie-voltmeter-2
NODE2_TTN_API_KEY=NNSXS.yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy

# --- gemeinsam ---
TTN_TENANT=ttn
TTN_HOST=eu1.cloud.thethings.network
DASHBOARD_PORT=8080
